<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
	bootstrap="tests/bootstrap.php"
	colors="true"
	backupGlobals="false"
	backupStaticAttributes="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="true">
    <testsuites>
        <testsuite name="All">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
        <testsuite name="Gd">
            <file>./tests/GdTest.php</file>
        </testsuite>
        <testsuite name="Imagick">
            <file>./tests/ImagickTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>